<html>

<head>
    <link type="text/css" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body style="padding:100px;background-color:#fafafa;">
    <title>LEUK: Digital Strawberry</title>
    <h2>LEUK: Digital Strawberry</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>

    <div id="drop-region">
        <div class="drop-message">
            <p>Перетащите изображения сюда или нажмите, чтобы выбрать вручную</p>
        </div>
        <div id="image-preview"></div>
    </div>

    <div id="result" class="row">
    </div>
    <!-- The expanding image container -->
    <div class="container">
        <!-- Close the image -->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

        <!-- Expanded image -->
        <!-- <img id="expandedImg" src="" style="width:50%"> -->
        <img id="ml" src="" style="width:50%; float:left;">
        <img id="opencv" src="" style="width: 50%; float:left;">

        <!-- Image text -->
        <div id="imgtext"></div>
    </div>


</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>